<footer th:fragment="footer">
<div class="content">
	
	<div class="title">
		<img class="logoName" src="/img/original/title_main.png"/>	
	</div>
	
	<div class="simpleText">
		<p>Email :&nbsp;</p>
		<p>the</p>
		<p>_relaxed</p>
		<p>_tortoise</p>
		<p>@</p>
		<p>naver.com</p>
	</div>
	
	<div class="links">
		<a class="link" href="/">About</a> 
		<a class="link" href="/terms">Terms</a>
		<a class="link" href="/privacy">Privacy</a> 
	</div>

	<div class="copyRight">
		<p>&copy; 2024 THE TORTOISE'S FORGE. All rights reserved.</p>
	</div>
	
</div>
</footer>