<section th:fragment="section_main">
<div class="content">
		
	
	<img class="mainImg" src="/img/original/tortoise_working on_the_grass.png"/>
	<div class="mainText">
		<div class="bigText">Welcome To</div>
		<div class="largeText">THE TORTOISE'S FORGE</div>
		<div class="smallText">
			<p>
			Welcome to <b>THE TORTOISE'S FORGE!</b>
			This is where I forge my own programs and share.
			You just can comfortably look around and find something that might help you!
			You can also talk with people who also visit my forge!
			Thank you for visiting and have a great day!!
			</p>
		</div>
	</div>	
		
	
</div>
</section>