<section th:fragment="section_login">
<div class="content">
	
	<div class="navBtns">
		<img class="navBtn" src="/img/original/goBack.png" id="goBack"/>
		<img class="navBtn" src="/img/original/home.png" id="home"/>
	</div>
	
	<div class="title">
		<img class="titleImg" src="/img/original/gate_entrance.png" />
		<div class="titleText">Login</div>
	</div>
	
	<div class="viewPager">
		<div id="page1" class="viewPagerPage">

			<div class="justViewPageContainer">
				<h2 class="smallTitle">It's time to chill at THE TORTOISE'S FORGE</h2>
				<input class="inputBox" type="text" 	id="username" 			placeholder="Username">
				<input class="inputBox" type="password" id="password" 			placeholder="Password">
			</div>

		</div>
	</div>
	
		
	<div class="guide" id="guide"></div>	
		
	<div class="buttons">
		<label id="loginBtn" class="viewPagerButton">LOGIN</label>
	</div>
	
	<div class="aboutAccount">
		<div class="aboutAccountElement">Forgot your <a href="/forgotPassword">password</a> or <a href="/forgotUsername">username</a>?</div>
		<div class="aboutAccountElement">l</div>
		<div class="aboutAccountElement"><a href="/signup">Sign up</a></div>
	</div>	
	
</div>
</section>