<section th:fragment="section_forgot_username">
<div class="content">
	
	
	<input id="page1Radio" type="radio" name="viewPagerRadio" checked disabled/>
	<input id="page2Radio" type="radio" name="viewPagerRadio" disabled/>
	
	
	<div class="navBtns">
		<img class="navBtn" src="/img/original/goBack.png" id="goBack"/>
		<img class="navBtn" src="/img/original/home.png" id="home"/>
	</div>
	
	<div class="title">
	
		<img class="titleImg" src="/img/original/tortoise_asking_help.png" />
		<div class="titleText">Forgot username?</div>
		<div class="titleSmallText">
		
			<label class="page1Title"><img class="titleArrow" id="backArrow" src="/img/original/arrow_back.png"></label>
			<label class="page1Title">step 1</label>
			<label class="page1Title" for="page2Radio"><img class="titleArrow" id="forwardArrow" src="/img/original/arrow_forward.png"/></label>
		
		    <label class="page2Title" for="page1Radio"><img class="titleArrow" id="backArrow" src="/img/original/arrow_back.png"></label>
			<label class="page2Title">step 2</label>
			<label class="page2Title"><img class="titleArrow" id="forwardArrow" src="/img/original/arrow_forward.png"/></label>
		
		</div>
	</div>
	

	<div class="viewPager">
	
	
		<div id="page1" class="viewPagerPage">
			<div class="justViewPageContainer">
				<h2 class="smallTitle">Email verification</h2>
				<div class="popupText" id="page1PopupText">Enter your sign-up email to receive a verification code.</div>
				<input class="inputBox" type="text" id="email" 	placeholder="Email">
				
				<div class="guide" id="page1Guide"></div>
				<label id="page1Button" class="viewPagerButton">VERIFY EMAIL</label>
			</div>
		</div>
		
		
		<div id="page2" class="viewPagerPage">
			<div class="justViewPageContainer">
				<h2 class="smallTitle">Send Username</h2>
				<div class="popupText" id="page2PopupText">The verification code has been sent to the email. Please enter the code and new password.</div>
				<input class="inputBox" type="text" 	id="verificationCode" 	placeholder="Code">
				
				<div class="guide" id="page2Guide"></div>
				<label id="page2Button" class="viewPagerButton">SUBMIT</label>
				<label id="reset" 		class="viewPagerButton">RESTART</label>
			</div>
		</div>
		

	</div>

	
</div>
</section>