<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>The Tortoise's Forge</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/section_creations.css">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<header th:replace="~{components/header :: header}"></header>
<section th:replace="~{components/section_creations :: section_creations}"></section>
<footer th:replace="~{components/footer :: footer}"></footer>

</body>
<script src="/js/header.js"></script>
<script src="/js/section_creations.js"></script>
<script src="/js/footer.js"></script>
<script>
</script>
</html>