<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="'Read Post - ' + ${postTitle}"></title>

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/dialog.css">
<link rel="stylesheet" href="/css/header_simple.css">
<link rel="stylesheet" href="/css/section_discussion_board_post_read.css">
<link rel="stylesheet" href="/css/footer.css">

</head>
<body>

<div th:replace="~{components/dialog :: dialog}"></div>
<header th:replace="~{components/header_simple :: header_simple}"></header>
<section th:replace="~{components/section_discussion_board_post_read :: section_discussion_board_post_read}"></section>
<footer th:replace="~{components/footer :: footer}"></footer>


</body>

<script src="/js/dialog.js"></script>
<script src="/js/header_simple.js"></script>
<script src="/js/section_discussion_board_post_read.js"></script>
<script src="/js/footer.js"></script>

<script>
</script>
</html>